* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .hit {
    display: flex;
    flex-flow: column;
    .download {
      &::after {
        content: " downloads";
      }
    }
    .tags {
      &::before {
        content: "tags: ";
      }
    }
    .user {
      p {
        &::before {
          content: "USER: ";
        }
      }
    }
  }
}